:root {
  --post-it-yellow-top: rgb(254, 216, 0);
  --post-it-yellow-bottom: rgb(249, 227, 101);
  --max-length: 200px;
  --note-padding: 5px;
}

.notes-container {
  display: flex;
  padding: var(--note-padding);
  gap: 10px;

  overflow-x: auto;
}

.note-div {
  background-color: var(--post-it-yellow-top);
  display: grid;
  grid-template-rows: 1fr 4fr;

  width: var(--max-length);
  height: var(--max-length);

  box-shadow: 4px 4px 2px 0px lightgrey;
}

.note-title {
  font-weight: 700;
  text-align: center;
  padding: var(--note-padding);
}

.note-description {
  background-color: var(--post-it-yellow-bottom);
  padding: var(--note-padding);

  overflow-y: auto;
}