:root {
  --post-it-yellow-top: rgb(254, 216, 0);
  --post-it-yellow-bottom: rgb(249, 227, 101);
  --max-length: 200px;
  --note-padding: 5px;
}

.notes-container {
  display: flex;
  padding: var(--note-padding);
  gap: 10px;
  
  overflow-x: auto;
}

.note-div {
  position: relative;
  background-color: var(--post-it-yellow-top);
  display: grid;
  grid-template-rows: 1fr 4fr;

  width: var(--max-length);
  height: var(--max-length);

  border: 2px solid black;
  border-radius: 2px;
  box-shadow: 5px 5px 0px 0px black;
}

.note-title {
  font-weight: 700;
  text-align: center;
  padding: var(--note-padding);
}

.note-description {
  background-color: var(--post-it-yellow-bottom);
  padding: calc(var(--note-padding) * 2);

  overflow-y: auto;
}

button.note-edit {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid lightslategray;
  border-radius: 50%;
}

button.note-edit:hover {
  background-color: black;
}